.toggle-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .toggle-switch__slider {
      background-color: #2196F3;

      &:before {
        transform: translateX(19px);
      }
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    transition: 300ms;
    transition-property: background-color;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.33);
    border-radius: 17px;

    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: 300ms;
      transition-property: background-color, transform;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);
      border-radius: 100%;
    }
  }
}
