server.port=9000
management.endpoints.web.exposure.include=*

spring.datasource.url=jdbc:postgresql://localhost:5432/postgres
spring.datasource.username=postgres
spring.datasource.password=zeldaspeedruns
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.initialization-mode=always
spring.redis.password=zeldaspeedruns

keycloak.realm=zeldaspeedruns
keycloak.auth-server-url=http://localhost:8080/auth/
keycloak.ssl-required=external
keycloak.resource=zeldaspeedruns
keycloak.credentials.secret=abcdef01-a123-456b-a12b-123456abcdef
keycloak.use-resource-role-mappings=true
keycloak.bearer-only=true
