<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="layout::head">
        <title>ZeldaSpeedRuns</title>
    </head>

    <body>
        <header th:replace="layout::header"></header>

        <main>
            <h1>Latest news</h1>

            <article class="article" th:each="article : ${articles}">
                <h2 th:text="${article.title}">Article Title</h2>
                <div class="article__details">
                    Posted by <span th:text="${article.author.displayName}">Author</span> on
                    <span th:text="${article.postedOn}">the 1st of January, 2021</span>.
                </div>
                <div md:parse="${article.source}" class="article__content"></div>
            </article>
        </main>

        <footer th:replace="layout::footer"></footer>
    </body>
</html>