@font-face {
  font-family: "Calamity";
  src: url("fonts/calamity-regular-webfont.woff2") format("woff2"), url('fonts/calamity-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calamity";
  src: url("fonts/calamity-bold-webfont.woff2") format("woff2"), url('fonts/calamity-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Encode Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Calamity", sans-serif;
  font-weight: bold;
}
